/****************************************
DESKTOP FIRST
****************************************/

/* #region common rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    margin: auto;
}

/* #endregion common rules */

/* #region utilities */

:root {
    --sw-darker: #000000;
    --sw-dark: #282828;
    --sw-primary: #141922;
    --sw-secondary: #5A5A5A;
    --sw-secondary-lite: #C1C1C1;
    --sw-light: #FFFFFF;
}

/* #endregion utilities */

/* #region debug */


/* #endregion debug */

/* #region main */



/* #endregion main */

/* #region site_bar */

/* #endregion site_bar */

/* #region album */

/* #endregion album */

/* #region player_bar */

/* #endregion player_bar */

/****************************************
RESPONSIVE LAYOUT
****************************************/

/* #region responsive MD */

/* #endregion responsive MD */

/* #region responsive S */

/* #endregion responsive S */

/* #region responsive XS */

/* #endregion responsive XS */